<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNLmusX3HSPFbcxL6JX9DmhmuNkSc0yY8</string>
	<key>GCM_SENDER_ID</key>
	<string>668960223174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appfliiq.jolii</string>
	<key>PROJECT_ID</key>
	<string>lamat-x</string>
	<key>STORAGE_BUCKET</key>
	<string>lamat-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668960223174:ios:7f6e70c9f21e2c38e4ccc7</string>
</dict>
</plist>